<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.blog.mapper.MemberMapper">

	<select id="registerCheck" resultType="kr.blog.entity.Member">
		select * from Member WHERE memId=#{memId}
	</select>
	<insert id="register" parameterType="kr.blog.entity.Member">
		INSERT INTO 
		member(memId, memPwd, memName, memAge, memGender, memEmail, memProfile)
		VALUES(#{memId}, #{memPwd}, #{memName}, #{memAge}, #{memGender}, #{memEmail}, #{memProfile})
	</insert>
	<select id="memLogin" parameterType="kr.blog.entity.Member" resultType="kr.blog.entity.Member">
		select * from Member where memId=#{memId} and memPwd=#{memPwd}
	</select>
	<update id="memUpdate" parameterType="kr.blog.entity.Member">
		UPDATE MEMBER SET memPwd=#{memPwd}, memName=#{memName}, memAge=#{memAge}, memGender=#{memGender}, 
		memEmail=#{memEmail} WHERE memId=#{memId}
	</update>
	<select id="getMember" resultType="kr.blog.entity.Member">
		select * from MEMBER WHERE memId=#{memId}
	</select>
	<update id="memProfileUpdate" parameterType="kr.blog.entity.Member">
		update Member set memProfile=#{memProfile} where memId=#{memId}
	</update>
</mapper>
